<div class="port_baixo">

	<!-- Page Header -->

	<!-- Page Header -->
	<div>
		<c-slideprodutos></c-slideprodutos>
	</div>


	<div class="submenupro header-content">
		<ul class="breadcrumb container"> 
			<li><a href="#/gps"> <strong>GPS</strong> </a></li>
			<li><a href="#/cctv"> <strong> CCTV </strong></a></li>
			<li><a href="#/intrusao"><strong>Intrusão</strong></a></li>
			<li><a href="#/fire"><strong>Incêndios</strong></a></li>
			<li class="active"> <strong>Automação Residencial</strong></a></li>
		</ul>
	</div>

	<!-- /Page Header -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">

					<div class="row">
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/seguranca/auto1.jpg" alt="">
								<div class="team-desc" v-on:click="jms1 = !jms1">
									<h4 class="mb-0">Motor Deslizante ( Centurion )</h4>
									<i class="fa fa-solid fa-chevron-up Icon_kim" v-if="jms1"></i> 
									<i class="fa fa-solid fa-chevron-down Icon_kim" v-else></i>
								</div>
							</div>

							<div v-if="jms1" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Bateria de reserva
									Somos pioneiros na proteção contra falhas de energia em motores de portão. Assim
									como todos os nossos outros automatismos, o motor para portões deslizantes D2 Turbo,
									funciona com bateria interna de 5Ah, garantindo o seu funcionamento emergencial,
									mesmo quando há falhas de energia hidroeléctrica.
									O motor de portão deslizante D2 Turbo funciona até 9000rpm , correndo 24 metros por
									minuto.
									<br>
								</p>

								<p>

									A família de Motores Centurión, estão habilitados para suportar portões com peso de
									250kg, 500Kg e 1000Kg.
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/seguranca/auto2.jpg" alt="">
								<div class="team-desc" v-on:click="jms2 = !jms2">
									<h4 class="mb-0">Motor Deslizante ( Smart ) </h4>
									<i class="fa fa-solid fa-chevron-up Icon_kim" v-if="jms2"></i> 
									<i class="fa fa-solid fa-chevron-down Icon_kim" v-else></i>
								</div>
							</div>

							<div v-if="jms2" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									A automação Residencial, traz uma série de soluções para facilitar o cotidiano, oferecendo mais conforto e segurança para as famílias. Os nossos motores foram desenhados com robustez necessária, habilitado para suportar Portões com peso de 1200Kg, 2000Kg e 3000Kg.
								</p>
							</div>
						</div>

					</div>



				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>

				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->