<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Proteja sua empresa e sua residência</h1>
							<ul class="breadcrumb">
								<li><a href="#/"><strong>Home</strong></a></li>
								<li> <a href="#/seguranca"><strong>Segurança Patrimonial</strong> </li>
								
								<li><a href="#/gps"> <strong>GPS</strong> </a></li>
								<li class="active"> <strong>CCTV</strong></a></li>
								<li><a href="#/intrusao"><strong>Intrusão</strong></a></li>
								<li><a href="#/fire"><strong>Incêndios</strong></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/1.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">KIT MONITORAMENTO COM 4 CÂMERAS FULL HD 2.0 MP, 42 LEDS INFRAVERMELHO, DVR STAND ALONE 4 CANAIS</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>O <strong>Kit de monitoramento</strong> conta também com a tecnologia hibrida 4 em 1 (ahd, tvi, analógica,tvi), com blindagem contra o tempo ela pode ser instalada em ambientes interni e externis.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/2.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">IP CAMERA 2.0MP, VISÃO NOCTURNA, 20-30 METROS.</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p></p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<div class="clearfix visible-md visible-lg"></div>

					

					


						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/6cctv.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">CAMERA PTZ</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p><strong>Rotativa 360º, 2.0 MP e visão novturna, 100 M</strong></p>
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/7.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">IPC 2.0MP Mini, Plastico, Lentes 3.7mm, Visão Noctura 10M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/8.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">AHD 2.0MP Mini, CIFSA42,  IR 12 LEDS, Visão Nocturna 10M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->

	<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/9.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">AHD 700TVL  Camera, CIFSA58.5,  Starlight, Visão Noctura 20-30M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/10.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">AHD Camera Exterior, REF51, IR SMDLED 18, Visão Noctura 30M </a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/11.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">AHD 700TVL mini, CIFSA57, Plastico, Lentes 3.7mm, Visão Nocturna 10M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/12.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">IPC 2.0MP, ANPR 4IRLEDS,  Metalica, CIFSA252, ANPRLentes VF 9-22mm, Visão Noctura 60M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/13.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">IPC 2.0MP, Dome Metalica, CIFSA177,  VF 2.8-12mm, Visao Nocturna 30M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/14.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">IPC 2.0MP, Metalica,  CIFSA70,  Lentes 36mm, IR 18SMD, Visão Nocturna 30M</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/15.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">KIT 4 2.0MP, DVR Metalico</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
	<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/16.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">KIT 8 2.0MP, DVR Metalico</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
							<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/17.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">PTZ POE CAMERA 2.0MP</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									
								</div>
							</div>
						</div>
						<!-- /article -->
						<!-- pagination
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
 
 