<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2gps.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Proteja sua empresa e sua residência</h1>
						<ul class="breadcrumb">
							<li><a href="#/"><strong>Home</strong></a></li>
							<li> <a href="#/seguranca"><strong>Segurança Patrimonial</strong> </li>

							<li class="active"><strong>GPS</strong> </a></li>
							<li><a href="#/cctv"><strong>CCTV</strong></a></li>
							<li><a href="#/intrusao"><strong>Intrusão</strong></a></li>
							<li><a href="#/fire"><strong>Incêndios</strong></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->


	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9"> 
				 

					<div class="row">
						<!-- article -->
						<div class="col-md-6">
							<div class="article text_center">
								<div class="article-img">
									<a>
										<img class="" src="assets/img/segurança/7gps.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">GPS + Alarme </a></h3>
									
									<p>Proteja já o seu veiculo.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article text_center">
								<div class="article-img">
									<a>
										<img class="" src="assets/img/segurança/8gps.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">GPS + Alarme SHUTT</a></h3>
									
									<p>A melhor opção de proteção para o seu transporte.</p>
								</div>
							</div>
						</div>
						<!-- /article -->


								<!-- article -->
								<div class="col-md-6">
									<div class="article text_center">
										<div class="article-img">
											<a>
												<img class="" src="assets/img/segurança/g-feature-1.png" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title"><a class="">Controlo remoto</a> </h3>
											<p class="">Leve, pequeno e anatômico. Memoriza até 4 funções, senha digital
												personalizada de 2 digitos
												para desativação.
											</p>
										</div>
									</div>
								</div>
								<!-- /article -->
		
								<!-- article -->
								<div class="col-md-6">
									<div class="article text_center">
										<div class="article-img">
											<a>
												<img class="" src="assets/img/segurança/g-feature-2.png"  alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title"><a class="">Sonorificação </a></h3>
											<p class="">Indicações sonoras na activação e na desativação, sons de pânico e
												localizador.
												sirene dedicada a desativação.</p>
								 
										</div>
									</div>
								</div>
								<!-- /article -->
				<!-- article -->
				<div class="col-md-6">
					<div class="article text_center">
						<div class="article-img">
							<a>
								<img class="" src="assets/img/segurança/g-feature-3.png"  alt="">
							</a>
						</div>
						<div class="article-content">
							<h3 class="article-title"> <a>GPS</a></h3>
						 
							<p class="">Reativação automática (programável), função antiassalto ACTIVA, funçaõ
								antiassalto PASSIVA
								(Acionamento por afastamento).</p>
						</div>
					</div>
				</div>
				<!-- /article -->
		

 
					</div>
 


				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>

				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->