<div class="port_baixo">

	<!-- Page Header -->
	<div>
		<c-slideprodutos></c-slideprodutos>
	</div>
	<!-- /Page Header -->


	<!-- /MAIN -->
	<div class="submenupro header-content">
		<ul class="breadcrumb container">
			<li> <a href="#/seguranca"><strong>Segurança Patrimonial</strong> </li>

			<li class="active"><strong>GPS</strong> </a></li>
			<li><a href="#/cctv"><strong>CCTV</strong></a></li>
			<li><a href="#/intrusao"><strong>Intrusão</strong></a></li>
			<li><a href="#/fire"><strong>Incêndios</strong></a></li>
			<li><a href="#/automacao"> <strong>Automação Residencial </strong></a></li>
		</ul>
	</div>


	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">


					<div class="row">
					
 


						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/seguranca/7gps.JPG" alt="">
								<div class="team-desc" v-on:click="jms4 = !jms4">
									<h4 class="mb-0">GPS Rastreador Automóvel ( Robusto 1)</h4>
									<p class="mb-1">Click aqui para Ver Descricao</p>
								</div>
							</div>

							<div v-if="jms4" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Desenhado para funcionar com base na rede GSM/GPRS (850/900/1800/1900MHz ) e satélites GPS, este produto está habilitado para efetuar Rastreamento em tempo real, localizar, bloquear, acesso ao sistema áudio, monitorar qualquer alvo remoto por SMS ou via Plataforma de Gestão Profissional com acesso à internet.

									Robustez, é uma das características desse equipamento, funcionando mesmo em zonas com fraca cobertura da rede GSM/GPRS.
								
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/seguranca/4gps.JPG" alt="">
								<div class="team-desc" v-on:click="jms5 = !jms5">
									<h4 class="mb-0">GPS  Industrial ( Navios e Máquinas )</h4>
									<p class="mb-1">Click aqui para Ver Descricao</p>
								</div>
							</div>

							<div v-if="jms5" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Descrição e Funcionamento:
									GPS rastreador via Satélite Industrial,  disponibilizado para cobrir projectos específicos à medida dos nossos clientes.  Patrimônios como Navio de cruzeiro, Barcos, Tratores,
									Bulldozers, Camiões de longo curso, podem agora ser monitorados 24 horas ao dias, não importando a sua localização geográfica.  O gerenciamento pode ser feito de forma simples e interativa via Plataforma de Gestão GPS.
									Este equipamento faz parte da família GPS Industrial, habilitado a funcionar em zonas remotas como Oceanos, Desertos, Zonas Diamantíferas e outras não especificadas.
							
								</p>
							</div>
						</div>
 
					</div>

				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>

				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->