<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2gps.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Proteja sua empresa e sua residência</h1>
							<ul class="breadcrumb">
								<li><a href="#/"><strong>Home</strong></a></li>
								<li> <a href="#/seguranca"><strong>Segurança Patrimonial</strong> </li>
								 
								<li class="active"><strong>GPS</strong> </a></li>
								<li ><a href="#/cctv"><strong>CCTV</strong></a></li>
								<li><a href="#/intrusao"><strong>Intrusão</strong></a></li>
								<li><a href="#/fire"><strong>Incêndios</strong></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="img/segurança/7gps.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>GPS + Alarme </a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Proteja já o seu veiculo.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="img/segurança/8gps.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>GPS + Alarme SHUTT</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>A melhor opção de proteção para o seu transporte.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						

						<!-- pagination
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<!-- category widget -->
					<div class="widget">
						<h3 class="widget-title">Outras Categorias</h3>
						<div class="widget-category">
							<ul>
								<li><a href="acessorio.html">Acessórios<span>(3)</span></a></li>
								<li><a href="diversos.html">Diversos<span>(2)</span></a></li>
								<li><a href="internet.html">Internet<span>(1)</span></a></li>
								<li><a href="segurança.html">Segurança Patrimonial<span>(6)</span></a></li>
								<li><a href="solar.html">Energias<span>(6)</span></a></li>
								<li><a href="computador.html">Informática<span>(3)</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /category widget -->

					<!-- posts widget -->
					<div class="widget">
						<h3 class="widget-title">Produtos mais vistos</h3>
						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<div class="widget-img">
									<img src="assets/img/6M.jpg" alt="">
								</div>
								<div class="widget-content">
									Proteja seu computador com as melhores fontes de alimentação.
								</div>
							</a>
							
						</div>
						<!-- /single post -->

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<div class="widget-img">
									<img src="assets/img/4P.jpg" alt="">
								</div>
								<div class="widget-content">
									As melhores cercas eletricas.
								</div>
							</a>
							
						</div>
						<!-- /single post -->

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<div class="widget-img">
									<img src="assets/img/4M.jpg" alt="">
								</div>
								<div class="widget-content">
									Vigie seu patrimônio.
								</div>
							</a>
							
						</div>
						<!-- /single post -->
					</div>
					<!-- /posts widget -->

					
					</div>
					<!-- causes widget -->
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
 
 