<div class="port_baixo">

    <!-- Page Header -->
    <div id="page-header">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(assets/img/background-2s.jpg);"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <h1>Proteja sua empresa e sua residência</h1>

                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- MAIN -->
                <main id="main" class="col-md-9">
                    <div class="row">

                        <h2 class="cor_padaro">Escolha um dos menus que queiras aceder...</h2>
                        <ul class="breadcrumb">
                            <li><a href="#/"><strong>Home</strong></a></li>
                            <li class="active"> <strong>Segurança Patrimonial</strong> </li>

                            <li class=""><a href="#/gps"> <strong>GPS</strong> </a></li>
                            <li><a href="#/cctv"> <strong>CCTV</strong></a></li>
                            <li ><a href="#/intrusao"><strong>Intrusão</strong></a></li>
                            <li><a href="#/fire"> <strong>Incêndios</strong></a></li>
                        </ul> 
                        <div class="article-img">
                            <img src="assets/img/blanck.jpg" alt="">
                        </div>
 
                    </div>
                </main>
                <!-- /MAIN -->

                <!-- ASIDE -->
                <aside id="aside" class="col-md-3">
                    <!-- category widget -->
                    <div class="widget">
                        <h3 class="widget-title cor_padaro">Outras Categorias</h3>
                        <div class="widget-category">
                            <ul>
                                <li><a href="acessorio.html">Acessórios<span>(3)</span></a></li>
                                <li><a href="diversos.html">Diversos<span>(2)</span></a></li>
                                <li><a href="internet.html">Internet<span>(1)</span></a></li>
                                <li><a href="segurança.html">Segurança Patrimonial<span>(6)</span></a></li>
                                <li><a href="solar.html">Energias<span>(6)</span></a></li>
                                <li><a href="computador.html">Informática<span>(3)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /category widget -->

                    <!-- posts widget -->
                    <div class="widget">
                        <h3 class="widget-title cor_padaro">Produtos mais vistos</h3>
                        <!-- single post -->
                        <div class="widget-post">
                            <a href="#">
                                <div class="widget-img">
                                    <img src="assets/img/6M.jpg" alt="">
                                </div>
                                <div class="widget-content">
                                    Proteja seu computador com as melhores fontes de alimentação.
                                </div>
                            </a>

                        </div>
                        <!-- /single post -->

                        <!-- single post -->
                        <div class="widget-post">
                            <a href="#">
                                <div class="widget-img">
                                    <img src="assets/img/4P.jpg" alt="">
                                </div>
                                <div class="widget-content">
                                    As melhores cercas eletricas.
                                </div>
                            </a>

                        </div>
                        <!-- /single post -->

                        <!-- single post -->
                        <div class="widget-post">
                            <a href="#">
                                <div class="widget-img">
                                    <img src="assets/img/4M.jpg" alt="">
                                </div>
                                <div class="widget-content">
                                    Vigie seu patrimônio.
                                </div>
                            </a>

                        </div>
                        <!-- /single post -->
                    </div>
                    <!-- /posts widget -->


            </div>
            <!-- causes widget -->
            </aside>
            <!-- /ASIDE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->