<div class="port_baixo">

    <!-- Page Header -->
    <c-slideprodutos></c-slideprodutos>
    <!-- /Page Header -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- MAIN -->
                <main id="main" class="col-md-9">
                    <div class="row">

                        <h2 class="cor_padaro">Escolha um dos menus que queiras aceder...</h2>
                        <ul class="breadcrumb">
                            <li><a href="#/"><strong>Home</strong></a></li>
                            <li class="active"> <strong>Segurança Patrimonial</strong> </li>

                            <li class=""><a href="#/gps"> <strong>GPS e Alarmes </strong> </a></li>
                            <li><a href="#/cctv"> <strong>CCTV</strong></a></li>
                            <li ><a href="#/intrusao"><strong>Intrusão</strong></a></li>
                            <li><a href="#/fire"> <strong>Incêndios</strong></a></li>
                            <li><a href="#/automacao"> <strong>Automação Residencial  </strong></a></li>
                        </ul> 
                        <div class="article-img">
                            <img src="assets/img/blanck.jpg" alt="">
                        </div>
 
                    </div>
                </main>
                <!-- /MAIN -->

                <!-- ASIDE -->
                <aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
            <!-- /ASIDE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->