<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2fire.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Proteja sua empresa e sua residência</h1>
							<ul class="breadcrumb">
								<li><a href="#/"><strong>Home</strong></a></li>
								<li> <a href="#/seguranca"><strong>Segurança Patrimonial</strong> </li>
									 
								<li class=""><a href="#/gps"> <strong>GPS</strong> </a></li>
								<li><a href="#/cctv"><strong>CCTV</strong></a></li>
								<li><a href="#/intrusao"><strong>Intrusão</strong></a></li> 
								<li class="active"> <strong>Incêndios</strong></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
	 
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/10f.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">DETETOR DE AQUECIMENTO E FUMO</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p></p>
								</div>
							</div>
						</div>
						<!-- /article -->

					

						<div class="clearfix visible-md visible-lg"></div>

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/11f.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">EXTINTOR DE INCÊNDIOS</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p></p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/12f.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">SISTEMA DE ESTINSÃO DE INCÊNDIOS</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p></p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<div class="clearfix visible-md visible-lg"></div>

			 
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
	<!-- /SECTION -->
 </div>
 