<div class="port_baixo">

	<!-- Page Header -->


	<div>
		<c-slideprodutos></c-slideprodutos>

		<div class="submenupro header-content">
			<ul class="breadcrumb container"> 
				<li><a href="#/gps"> <strong>GPS</strong> </a></li>
				<li><a href="#/cctv"><strong>CCTV</strong></a></li>
				<li class="active"><strong>Intrusão</strong></a></li>
				<li><a href="#/fire"> <strong>Incêndios</strong></a></li>
				<li><a href="#/automacao"> <strong>Automação Residencial </strong></a></li>
			</ul>
		</div>
	</div>

	<!-- /Page Header -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">



					<div class="row">
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/seguranca/18.jpg" alt="">
								<div class="team-desc" v-on:click="jms1 = !jms1">
									<h4 class="mb-0">Energizador para Cerca Elétrica( Wizord )</h4>
									<i class="fa fa-solid fa-chevron-up Icon_kim" v-if="jms1"></i> 
									<i class="fa fa-solid fa-chevron-down Icon_kim" v-else></i>
								</div>
							</div>

							<div v-if="jms1" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									A Cerca Elétrica é um Sistema de Segurança, criado com o objectivo de oferecer tranquilidade na proteção de residências ou ainda proteger Infraestruturas Especiais</p>
							</div>
						</div>

					 
					  
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/seguranca/5.JPG" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Alarme Intelbras</h4>
									<i class="fa fa-solid fa-chevron-up Icon_kim" v-if="jms3"></i> 
									<i class="fa fa-solid fa-chevron-down Icon_kim" v-else></i>

								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Alarme Intelbras 01 Central Amt 2018e Ethernet
									+ 4 Sensores Infravermelho Com Fio.
								</p>
								<p>Alarme residencial e comercial com 1 central AMT 2018E com módulo Ethernet.</p>

							</div>
						</div>

					</div>

				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>

				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

</div>