<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2int.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Proteja sua empresa e sua residência</h1>
							<ul class="breadcrumb">
								<li><a href="#/"><strong>Home</strong></a></li>
								<li> <a href="#/seguranca"><strong>Segurança Patrimonial</strong> </li>
								
								<li class=""><a href="#/gps"> <strong>GPS</strong> </a></li>
								<li ><a href="#/cctv"> <strong>CCTV</strong></a></li>
								<li class="active"><strong>Intrusão</strong></a></li> 
								<li><a href="#/fire"> <strong>Incêndios</strong></a></li>
								 
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">
 
						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/3.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Concertina espiral de aço galvanizado - kit completo</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p> Com alta resistência contra corrosões e algumas ferramentas tradicionais por ser feita de aço galvanizado.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/4.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Kit Alarme Residencial, Comercial Ecp, 10 Sensores, Abertura Sem Fio Coo Discadora Telefônica</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>O <strong>Central de alarme ECP Max 1 com discadora incorporada para até 8 números telefônicos.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<div class="clearfix visible-md visible-lg"></div>

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/5.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Alarme Intelbras 01 Central Amt 2018e Ethernet + 4 Sensores Infravermelho Com Fio.</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Alarme residencial e comercial com 1 central AMT 2018E com módulo Ethernet.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

					

						<!-- pagination
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
 
 