<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Soluções Vsat para si</h1>
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">Internet</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">


						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a>
										<img src="assets/img/internet/VSAT3.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">Antena Satélite VSAT, 2.4M
										</a></h3>
									<ul class="article-meta">


									</ul>
									<p><strong>Banda C, Suporta velocidade download acima de 20Mbps. Entrega imediata em
											Angola.</strong></p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<div class="col-md-6 ">
							<div class="article">
								<div class="article-img card_tamImg">
									<a>
										<img class="noneImg1 " src="assets/img/internet/VSAT-Mapa_Cobertura.png" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">Cobertura VSAT </a></h3>

									<p><strong>Cobertura VSAT em Banda Larga velocidate 50Mbps para atender suas
											necessidades no campo ou no centro Urbano.</strong></p>
								</div>
							</div>
						</div>


						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a>
										<img src="assets/img/internet/antenas_ap.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">Antena 5Ghz, 802.11ac,
											Trans-Receptor
										</a></h3>
									<ul class="article-meta">


									</ul>
									<p><strong>
											Antena receptora 5Ghz, 802.11ac, velocidade 300Mbps, Cobertura
											Trans-Receptor 3.5Km.
										</strong></p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<div class="col-md-6 ">
							<div class="article">
								<div class="article-img card_tamImg">
									<a>
										<img class="noneImg1 " src="assets/img/internet/antenas_5g.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">Antena (AP) 5.8Ghz, 802.11ac
										</a></h3>

									<p><strong>
											Antena (AP) 5.8Ghz, 802.11ac
											900Mbps, Gigabit LAN, 802.3af POE(48VDC)
											Transmissao 10Km.
										</strong></p>
								</div>
							</div>
						</div>




						<!-- article -->
						<div class="col-md-6 ">
							<div class="article">
								<div class="article-img card_tamImg">
									<a>
										<img class="noneImg1 " src="assets/img/internet/torre.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="">Torres de Telecom e seus
											respectivos componentes</a></h3>
									<ul class="article-meta">


									</ul>
									<p><strong>
											Para nós Suas necessidades em Telecomunicações vem primeiro; para tal, devem
											ter flexibilidade e facilidades exequiveis, temos uma equipa criada e focada
											especificamente em ser seu parceiro dedicado à 365 dias fornecendo Torres de
											Telecom e seus respectivos componentes.
											"Experimente, que o resto é connosco, é o Nosso Trabalho!"

										</strong></p>
								</div>
							</div>
						</div>


					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /SECTION -->
	</div>