<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg net_jms"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
				 
						<h1 class="ride_text_slide"> <span style="color: #f1af01;">Soluções </span>Telecomunicaçães</h1>
											 
						<ul class="breadcrumb">
							<li><a href="index.html">Home </a></li>
							<li class="active">Internet</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->
 

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">

 
					<div class="row">
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/VSAT3.jpg" alt="">
								<div class="team-desc" v-on:click="jms1 = !jms1">
									<h4 class="mb-0">Antena Satélite VSAT, 2.4M</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms1" class="descicao">
								<p>
									<strong>
										Descrição Geral da antena VSAT 2.4m
									</strong>
								</p>

								<p>
									Antena é projetada para transmissão e operação recebimento de dados na Banda C, Ka e
									KU.
									<br>
									Refletor construído com o formato de duplo revestimento de 4 painéis.
									Azimute padrão projetado sobre elevação do pedestal, fornecendo uma solução
									econômica para a instalação de piso ou teto com alta rigidez e estabilidade.
									Az & EL projectado para fornecer ótimo desempenho no Terminal VSAT, para assegurar e
									apontar o rastreamento com precisão em Satélites INTELSAT.

								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/VSAT-Mapa.jpg" alt="">
								<div class="team-desc" v-on:click="jms2 = !jms2">
									<h4 class="mb-0">Cobertura VSAT</h4> 
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>
							
							<div v-if="jms2" class="descicao">
								<p>
									<strong>
										Descrição Geral Cobertura VSAT
									</strong>
								</p>

								<p>
									Cobertura VSAT em Banda Larga velocidade 50Mbps para atender suas
									necessidades no campo ou no centro Urbano.
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/antenas_ap.jpg" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Antena Painel 5GHz</h4>
										<p class="mb-1">Click aqui para Ver Descricao</p>
								 
								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição Geral Antena Painel 5GHz.                                                      
										5GHz | 867Mbps | 2x2 MIMO | 25dBi | Gigabit.   
									</strong>
								</p>

								<p>
								                                        
Desempenho extremamente surpreendente.
A tecnologia MIMO 2*2 integrada para 867Mbps 5GHz torna-o 3x mais rápido do que o padrão 802.11n legado. A potência tx é aumentada até 26dBm para uma distância incrível de longa distância.

Antena de tipo  painel 11ac otimizada, MIMO 2x2 25dBi integrada foi desenhada para o fornecimento fácil de conexões PtP externas de longo alcance.
A relação frente-trás e largura de feixe altamente aprimoradas ajudam a construir links 11ac sustentáveis.
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/antenas_5g.jpg" alt="">
								<div class="team-desc" v-on:click="jms4 = !jms4">
									<h4 class="mb-0">Antena 5GHz Estação Base Integrada </h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms4" class="descicao">
								<p>
									<strong>
										Descrição Geral Antena
										5GHz | 867Mbps | 2x2 MIMO | Gigabit | 19dBi | 120°  
									</strong>
								</p>

								<p>  
									Antena Sectorial  robusta BS para uso  Externo sem fio 5 GHz com 802.11ac, tecnologia para cobertura sem fio de ponta ou conexão PtMP com a tecnologia 11ac.
									
									A tecnologia MIMO 2*2 integrada de 867Mbps 5GHz torna-o 3x mais rápido do que o 
									padrão 802.11n. A potência tx é aumentada até 26dBm para uma distância incrível de longa distância.
									
									A antena Sectorial usada na Estação Base foi atualizada para um melhor design de blindagem, trazendo assim, maior relação frente-trás em comparação com as antenas 802.11n, oferecendo assim, maior desempenho  de transmissão de Ondas de Rádio.
									
									Estação base Embutido
									Antena Sectorial Integrada dual-pola de até 19dBi, a estação base 11ac é fácil de fornecer longo alcance para a cobertura externa de CPEs, smart phone e laptops. Reduzindo extremamente o tempo e a energia da instalação.
								</p>
							</div>
						</div>

						
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/torre.jpg" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Torres de Telecomunicações </h4>
										<p class="mb-1">Click aqui para Ver Descricao</p>
								 
								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Para nós Suas necessidades em Telecomunicações vem primeiro; para tal, devem
									ter flexibilidade e facilidades exequíveis, temos uma equipa criada e focada
									especificamente em ser seu parceiro dedicado à 365 dias fornecendo Torres de
									Telecom e seus respectivos componentes.
									"Experimente, que o resto é conosco, é o Nosso Trabalho!"
</p>
							</div>
						</div>
					</div>
 
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /SECTION -->
	</div>