<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Soluções Vsat para si</h1>
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">Internet</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->











	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">

 
					<div class="row">
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/VSAT3.jpg" alt="">
								<div class="team-desc" v-on:click="jms1 = !jms1">
									<h4 class="mb-0">Antena Satélite VSAT, 2.4M</h4>
									<p class="mb-1">Click aqui para Ver Descricao</p>
								</div>
							</div>

							<div v-if="jms1" class="descicao">
								<p>
									<strong>
										Descrição Geral da antena VSAT 2.4m
									</strong>
								</p>

								<p>
									Antena é projetada para transmissão e operação recebimento de dados na Banda C, Ka e
									KU.
									<br>
									Refletor construído com o formato de duplo revestimento de 4 painéis.
									Azimute padrão projetado sobre elevação do pedestal, fornecendo uma solução
									econômica para a instalação de piso ou teto com alta rigidez e estabilidade.
									Az & EL projectado para fornecer ótimo desempenho no Terminal VSAT, para assegurar e
									apontar o rastreamento com precisão em Satélites INTELSAT.

								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/VSAT-Mapa_Cobertura.png" alt="">
								<div class="team-desc" v-on:click="jms2 = !jms2">
									<h4 class="mb-0">Cobertura VSAT</h4> 
									<p class="mb-1">Click aqui para Ver Descricao</p>
								</div>
							</div>
							
							<div v-if="jms2" class="descicao">
								<p>
									<strong>
										Descrição Geral Cobertura VSAT
									</strong>
								</p>

								<p>
									Cobertura VSAT em Banda Larga velocidate 50Mbps para atender suas
									necessidades no campo ou no centro Urbano.
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/antenas_ap.jpg" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Antena 5Ghz, 802.11ac,
										Trans-Receptor</h4>
										<p class="mb-1">Click aqui para Ver Descricao</p>
								 
								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Antena receptora 5Ghz, 802.11ac, velocidade 300Mbps, Cobertura
									Trans-Receptor 3.5Km.
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/antenas_5g.jpg" alt="">
								<div class="team-desc" v-on:click="jms4 = !jms4">
									<h4 class="mb-0">Antena (AP) 5.8Ghz, 802.11ac</h4>
									<p class="mb-1">Click aqui para Ver Descricao</p>
								</div>
							</div>

							<p v-if="jms4">
								<strong>
									Antena (AP) 5.8Ghz, 802.11ac
									900Mbps, Gigabit LAN, 802.3af POE(48VDC)
									Transmissao 10Km.
								</strong>
							</p>
						</div>

						
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/internet/torre.jpg" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Torres de Telecomunicações </h4>
										<p class="mb-1">Click aqui para Ver Descricao</p>
								 
								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Para nós Suas necessidades em Telecomunicações vem primeiro; para tal, devem
											ter flexibilidade e facilidades exequiveis, temos uma equipa criada e focada
											especificamente em ser seu parceiro dedicado à 365 dias fornecendo Torres de
											Telecom e seus respectivos componentes.
											"Experimente, que o resto é connosco, é o Nosso Trabalho!"
								</p>
							</div>
						</div>
					</div>
 
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /SECTION -->
	</div>