<div>

	<div id="my-keen-slider" class="keen-slider">
		<div class="keen-slider__slide"> <img class="number-slide" src="assets/img/background-1.jpg" alt="">

			<div class="container-fluid px-0 px-md-5 mb-5 bg-letra">

				<div class="row px-3 ">
					<div class="col-lg-7 text-lg-left ">

						<!-- home content -->
						<div class="home">
							<div class="container">
								<div class="row">
									<div class="col-md-8">
										<div class="home-content">
											<h1>Tecnologias & Segurança</h1>
											<p class="lead">Desde 2008 a proteger as famílias Angolanas!</p>
											<a href="segurança.html" class="primary-button">Ver Produtos</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /home content -->
					</div>

					<div class="col-lg-5">

					</div>

				</div>
			</div>
		</div>

		<div class="keen-slider__slide"><img class="number-slide" src="assets/img/background-2.jpg">
			<div class="container-fluid px-0 px-md-5 mb-5 bg-letra">

				<div class="row px-3 ">
					<div class="col-lg-7 text-lg-left ">

						<!-- home content -->
						<div class="home">
							<div class="container">
								<div class="row">
									<div class="col-md-8">
										<div class="home-content">
											<h1>Sorria você está sendo Protegido!</h1>
											<p class="lead">Vê as Tecnologias de seguranças electronicas que temos para si.</p>
											<a href="segurança.html" class="primary-button">Ver Produtos</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /home content -->
					</div>

					<div class="col-lg-5">

					</div>

				</div>
			</div>
		</div>
		<div class="keen-slider__slide"><img class="number-slide" src="assets/img/background-4.jpg">
			<div class="container-fluid px-0 px-md-5 mb-5 bg-letra">

				<div class="row px-3 ">
					<div class="col-lg-7 text-lg-left ">

						<!-- home content -->
						<div class="home">
							<div class="container">
								<div class="row">
									<div class="col-md-8">
										<div class="home-content">
											<h1>Esteja a par de Tudo!</h1>
											<p class="lead">Receba relátorios, Aumente a produtividade, monitorize a sua frota de uma forma simples e eficaz.</p>
											<a href="segurança.html" class="primary-button">Ver Oferta</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /home content -->
					</div>

					<div class="col-lg-5">

					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- ABOUT -->
	<div id="about" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- about content -->
				<div class="col-md-5">
					<div class="section-title">
						<h7>Promoção</h7>
						<h2 class="title">GESTÃO DE FROTAS VIA SATÉLITE</h2>

						<p class="sub-title">Aumente a produtividade, monitorize a sua frota de uma forma simples e
							eficaz. Aumente a segurança e gestão de activos</p>
					</div>
					<div class="about-content">
						<h3>
							<p> <strong> 25.000 AO </strong></p>
						</h3>
						<a href="Contactos.html" class="primary-button">Pre- Ordem</a>
					</div>
				</div>
				<!-- /about content -->

				<!-- about video -->
				<div class="col-md-offset-1 col-md-6">
					<a class="about-video">
						<!-- <i class="play-icon fa fa-play"></i> -->
						<img src="assets/img/about.jpg" alt="">
					</a>
				</div>
				<!-- /about video -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /ABOUT -->

	<!--================End Gadget Feature Area =================-->
	<section class="gadget_feature_area" id="feature">
		<div class="container">
			<div class="gd_title">
				<h2 data-title="Caracteristícas">Alarme para Veiculos</h2>
			</div>
			<div class="row gd_feature_inner">
				<div class="col-md-4">
					<div class="gd_f_img">
						<img src="assets/img/g-feature-1.png" alt="">
						<span class="one_text">1</span>
					</div>
				</div>
				<div class="col-md-8">
					<div class="gd_f_text">
						<h4>Controlo remoto</h4>
						<p>Leve, pequeno e anatômico. Memoriza até 4 funções, senha digital personalizada de 2 digitos
							para desativação.
						<p>

						</p>
						</p>

					</div>
				</div>
			</div>
			<div class="row gd_feature_inner right">
				<div class="col-md-7">
					<div class="gd_f_text">
						<h4>Sonorificação</h4>
						<p>Indicações sonoras na activação e na desativação, sons de pânico e localizador.
							sirene dedicada.</p>

					</div>
				</div>
				<div class="col-md-5">
					<div class="gd_f_img">
						<span class="one_text">2</span>
						<img src="assets/img/g-feature-2.png" alt="">
					</div>
				</div>
			</div>
			<div class="row gd_feature_inner">
				<div class="col-md-7">
					<div class="gd_f_img">
						<img src="assets/img/g-feature-3.png" alt="">
						<span class="one_text">3</span>
					</div>
				</div>
				<div class="col-md-5">
					<div class="gd_f_text">
						<h4>GPS</h4>
						<p>Reativação automática (programável), função antiassalto ACTIVA, funçaõ antiassalto PASSIVA
							(Acionamento por afastamento).</p>


					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Gadget Feature Area =================-->


	<!-- TESTIMONIAL -->
	<div id="testimonial" class="section">
		<!-- background section -->
		<div class="section-bg" style="background-image: url(assets/img/background-2.jpg);"
			data-stellar-background-ratio="0.5"></div>
		<!-- /background section -->

		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Testimonial owl -->
				<div class="col-md-12">
					<div id="testimonial-owl" class="owl-carousel owl-theme">
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">

								</div>

							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>Segurança, conforto e tranquilidade, essas palavras define bem o que um sistema
										de monitoramento pode oferecer para você, sua família, residência e empresa.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">

								</div>

							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>O verdadeiro perigo não é que computadores começaraão a pensar como homens, mas
										que homens começarão a pensar como computadores.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">

								</div>

							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>Lutemos por um mundo novo, um mundo bom que a todos assegura o ensejo de
										trabalho, que dê futuro a juventude e segurança á velhice.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">

								</div>

							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>Segurança é aquilo que te faz começar. Habito é aquilo que te faz continuar.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->
					</div>
				</div>
				<!-- /Testimonial owl -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /TESTIMONIAL -->

	<!-- BLOG -->
	<div id="blog" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-8 col-md-offset-2">
					<div class="section-title text-center">
						<h2 class="title">Destaques</h2>
						<p class="sub-title">Clica em um dos nossos produtos que temos em destaques e saiba mais.</p>
					</div>
				</div>
				<!-- /section title -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="article">
						<div class="article-img">
							<a href="solar.html">
								<img src="assets/img/post-1.jpg" alt="">
							</a>
						</div>
						<div class="article-content">
							<h3 class="article-title"><a href="solar.html">Ajude o planeta! utilize energias
									renováveis!</a></h3>

							<p>Temos os mais variados paineis solares para ti, desfrute de uma eneria limpa e amigavel
								ao meio ambiente.</p>
						</div>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="article">
						<div class="article-img">
							<a href="segurança.html">
								<img src="assets/img/post-2.jpg" alt="">
							</a>
						</div>
						<div class="article-content">
							<h3 class="article-title"><a href="segurança.html">Proteja-se Sempre!</a></h3>

							<p>Cameras e cerca eléctricas mais sofisticadas para uma proteção maior de seus bens e
								familia. </p>
						</div>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="article">
						<div class="article-img">
							<a href="computador.html">
								<img src="assets/img/post-4.jpg" alt="">
							</a>
						</div>
						<div class="article-content">
							<h3 class="article-title"><a href="computador.html">Conheça os computadores mais
									poderosos.</a></h3>

							<p>Temos um leque de computadores para todo tipo de utilizade, clique e escolhe um.</p>
						</div>
					</div>
				</div>
				<!-- /blog -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BLOG -->

	


</div>