<div>

	<!-- TESTIMONIAL -->
	<div class="section">
		<!-- background section -->
		<div class="section-bg" style="background-image: url(assets/img/background-1.jpg);"
			data-stellar-background-ratio="0.5"></div>
		<!-- /background section -->

		<!-- container -->
		<div class="container section_slider">
			<!-- row -->
			<div class="row  ">
				<div class="col-lg-7 text-lg-left ">

					<!-- home content -->
					<div class="home content-top">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<div class="home-content ">

										<h1 class="">Serviços <br> de </h1>
										<div class=" kim">
											<div class="cabelario_glide ">
												<div class="glide__track" data-glide-el="track">
													<ul class="glide__slides">
														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro">
																	Segurança & Tecnologias
																</h1>
															</div>
														</li>
														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro">
																	Torres de Telecomunicação
																</h1>
															</div>
														</li>
														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro"> Cercas Elétrica</h1>
															</div>
														</li>
														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro"> Circuitos CCTV</h1>
															</div>
														</li>
														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro">Gestão de Frotas GPS</h1>
															</div>
														</li>

														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro"> Banda larga (VSAT)</h1>
															</div>
														</li>
														<li class="glide__slide">
															<div class="card">
																<h1 class="cor_padaro">Gestão de Frotas GPS</h1>
															</div>
														</li>
													</ul>
												</div>

											</div>
										</div>

										<div class="descricao">
											<p class="lead">ADITEL Limitada.  <br>
												 Desde 2008 dedicados às famílias e aos  seus respectivos patrimônios, disponibilizando Tecnologias avancadas!
											</p>

											<p class="lead"></p>
											
											<a href="segurança.html" class="primary-button">Ver Produtos</a> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /home content -->
				</div>

				<div class="col-lg-5">

				</div>

			</div>
			<!-- /Row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /TESTIMONIAL -->


	<!-- JMS -->


	<!-- our taxis section start -->
	<div id="taxis" class="taxis_section">
		<div class="container">
			<div class="taxis_section_2">
				<div class="row">
					<div class="col-sm-4">
						<div class="taxi_main">
							<div class="round_1">01</div>
							<h2 class="carol_text">Missão</h2>
							<p class="reader_text">
								ser um time obstinado em prever e atender as necessidades dos clientes e consumidores
								sempre agregando valores
							</p>

						</div>
					</div>
					<div class="col-sm-4">
						<div class="taxi_main">
							<div class="round_1">02</div>
							<h2 class="carol_text">Visão </h2>
							<p class="reader_text">
								Estar entre os principais do mercado e ser referência de excelência em produtos e
								serviços de segurança e tecnologia
							</p>

						</div>
					</div>
					<div class="col-sm-4">
						<div class="taxi_main">
							<div class="round_1">03</div>
							<h2 class="carol_text">Valores </h2>
							<p class="reader_text">
								“Só é bom para a gente, se for bom para o cliente; Gente é tudo para gente; Ética é
								inegociável; O melhor argumento é o que vale”
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- our taxis section end -->
	<!-- Servicos prestado -->
	<div> 
	<div id="booking" class="ride_section layout_padding">
		<div class="container">
			<div class="ride_main">
				<h1 class="ride_text">Nossos <span style="color: #f1af01;">Serviços</span></h1>
			</div>
		</div>
	</div>
	<div class="ride_section_2 layout_padding">
		<div class="container">
			<div class="row_jms">
				<div class="col-sm-4">
					<div class="image_3"><img src="assets/img/JMS1.png"></div>
				</div>
				<div class="col-sm-8">
					<h1 class="cabe_text">Segurança Patrimonial</h1>
					<p class="long_text">
						Segurança Patrimonial é parte da segurança, que por meio gestão administrativa, controle de
						acesso, vigilância patrimonial, prevenção e combate a incêndios, e atividades de inteligência,
						busca promover, manter e garantir a incolumidade física das pessoas e a integridade do
						patrimônio de uma organização.
					</p>
					<div class="book_bt"><a href="#/seguranca">SABER MAIS</a></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row_jms">
				<div class="col-sm-8 order-2 order-md-1">
					<h1 class="secure_text">Energia solar</h1>
					<p class="long_text_2">A energia solar é uma fonte de energia renovável proveniente do sol, À medida
						em que cresce a preocupação mundial sobre sustentabilidade e a busca por fontes energéticas
						renováveis eficientes, a produção de energia a partir dos raios do sol tem ganhado cada vez mais
						destaque por conta de seus diversos diferenciais e vantagens</p>
					<div class="book_bt_2"><a href="#/solar">SABER MAIS</a></div>
				</div>
				<div class="col-sm-4 order-1 order-md-2">
					<div class="image_3"><img src="assets/img/JMS2.png"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row_jms">
				<div class="col-sm-4">
					<div class="image_3"><img src="assets/img/JMS5.png"></div>
				</div>
				<div class="col-sm-8">
					<h1 class="cabe_text">Internet</h1>
					<p class="long_text">A tecnologia VSAT representa uma solução de baixo custo para usuários que
						procuram uma rede de comunicações independente conectando um grande número de locais
						geograficamente dispersos</p>
					<div class="book_bt"><a href="#/telecomunicacao">SABER MAIS</a></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row_jms">
				<div class="col-sm-8 order-2 order-md-1">
					<h1 class="secure_text">Informatica / Multimídia</h1>
					<p class="long_text_2">
						Venda de produtos de Informatica, Multimídia e seus acessórios para sua casa, seu escritório ou
						ate mesmo para seu carros, Confere a nossas variedade de serviços multimídia como computador,
						telefone, TV plasma e muito mas, Click e saibar mais !!!

					</p>
					<div class="book_bt_2"><a href="#/informatica&multimidia">SABER MAIS</a></div>
				</div>
				<div class="col-sm-4 order-1 order-md-2">
					<div class="image_3"><img src="assets/img/JMS9.png"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- Servicos prestado -->
	<!-- location section start -->
	<div id="contact" class="location_sectin layout_padding espaco-bottom">
		<div class="container-fluid">
			<div class="location_main">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-5">

						<div class="section-title">

							<div class="download_text">
								<h7>Promoção</h7><br>
								<span class="download_text_format">GESTÃO DE FROTAS VIA SATÉLITE</span><br>

								<p class="sub-title" style="color: #fffcf4;">Aumente a produtividade, monitorize a sua
									frota de uma forma simples e
									eficaz. Aumente a segurança e gestão de activos</p>

								<div class="div_direita">
								 
										<p> <strong style="font-size: 34px; color: black;"> 25.000 AO </strong></p>
								 
									<a href="#/contacto" class="primary-button">SOlicita uma Orcamento</a>
								</div>
							</div>
						</div>

					</div>
					<div class="col-sm-3">
						<div class="image_7"><img src="assets/img/img-7.png"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- download section end -->

	<!-- JMS FIM-->
 
	 
	<!-- BLOG -->
 
	<div class="section">

		<div class="container ">
			<div class="section-title text-center">
 
				<div class="container">
					<div class="ride_main">
						<h1 class="ride_text">Produtos em <span style="color: #f1af01;">Destaques</span></h1>
					</div>
				</div>
				<p class="sub-title">Clica em um dos nossos produtos que temos em destaques e saiba mais.</p>
<p></p>
				<div class="destague_glide ">
					<div class="glide__track" data-glide-el="track">
						<ul class="glide__slides">
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="solar.html">
												<img src="assets/img/post-1.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="solar.html">Ajude o planeta!
													utilize energias
													renováveis!</a></h3>

											<p>Temos os mais variados paineis solares para ti, desfrute de uma eneria
												limpa e amigavel
												ao meio ambiente.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="segurança.html">
												<img src="assets/img/post-2.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="segurança.html">Proteja-se
													Sempre!</a></h3>

											<p>Cameras e cerca eléctricas mais sofisticadas para uma proteção maior de
												seus bens e
												familia. </p>
										</div>
									</div>
								</div>
							</li>
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="computador.html">
												<img src="assets/img/post-4.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="computador.html">Conheça os
													computadores mais
													poderosos.</a></h3>

											<p>Temos um leque de computadores para todo tipo de utilizade, clique e
												escolhe um.</p>
										</div>
									</div>
								</div>
							</li>

							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="solar.html">
												<img src="assets/img/post-1.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="solar.html">Ajude o planeta!
													utilize energias
													renováveis!</a></h3>

											<p>Temos os mais variados paineis solares para ti, desfrute de uma eneria
												limpa e amigavel
												ao meio ambiente.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="segurança.html">
												<img src="assets/img/post-2.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="segurança.html">Proteja-se
													Sempre!</a></h3>

											<p>Cameras e cerca eléctricas mais sofisticadas para uma proteção maior de
												seus bens e
												familia. </p>
										</div>
									</div>
								</div>
							</li>
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="computador.html">
												<img src="assets/img/post-4.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="computador.html">Conheça os
													computadores mais
													poderosos.</a></h3>

											<p>Temos um leque de computadores para todo tipo de utilizade, clique e
												escolhe um.</p>
										</div>
									</div>
								</div>
							</li>


							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="solar.html">
												<img src="assets/img/post-1.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="solar.html">Ajude o planeta!
													utilize energias
													renováveis!</a></h3>

											<p>Temos os mais variados paineis solares para ti, desfrute de uma eneria
												limpa e amigavel
												ao meio ambiente.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="segurança.html">
												<img src="assets/img/post-2.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="segurança.html">Proteja-se
													Sempre!</a></h3>

											<p>Cameras e cerca eléctricas mais sofisticadas para uma proteção maior de
												seus bens e
												familia. </p>
										</div>
									</div>
								</div>
							</li>
							<li class="glide__slide">
								<div class="card">
									<div class="article">
										<div class="article-img">
											<a href="computador.html">
												<img src="assets/img/post-4.jpg" alt="">
											</a>
										</div>
										<div class="article-content">
											<h3 class="article-title subTamanho"><a href="computador.html">Conheça os
													computadores mais
													poderosos.</a></h3>

											<p>Temos um leque de computadores para todo tipo de utilizade, clique e
												escolhe um.</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- /BLOG -->
 

</div>