<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Os melhores computadores</h1>
							<ul class="breadcrumb">
								<li><a href="#/acessorio">Acessórios</a></li>
								<li class="active">Alimentação</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">
 
						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/3.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">CONCERTINA ESPIRAL DE AÇO GALVANIZADO- KIT COMPLETO</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p> Com alta resistência contra corrosões e algumas ferramentas tradicionais por ser feita de aço galvanizado.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/4.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">KIT ALARME RESIDENCIAL, COMERCIAL ECP, 10 SENSORES, ABERTURA SEM FIO COO DISCADORA TELEFÔNICA</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>O <strong>Central de alarme ECP Max 1 com discadora incorporada para até 8 números telefônicos.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<div class="clearfix visible-md visible-lg"></div>

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/segurança/5.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">ALARME INTELBRAS 01 CENTRAL AMT 2018E ETHERNET + 4 SENSORES INFRAVERMELHO COM FIO.</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Alarme residencial e comercial com 1 central AMT 2018E com módulo Ethernet.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

					

						<!-- pagination
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
 
 