<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Os melhores computadores</h1>
							<ul class="breadcrumb">
								<li><a href="#/acessorio">Acessórios</a></li>
								<li class="active">Microfone Audio</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
 
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/1.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Fonte de  alimentacao (POE 4/24CH)</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->

					

						

						<!-- pagination 
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
	<!-- /SECTION -->
 	</div>
 