<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Os melhores Acessórios para si</h1>
						<ul class="breadcrumb">

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<h2 class="cor_padaro">Escolha um dos menus que queiras aceder...</h2>
						<ul class="breadcrumb">
							<li class="active"><strong>Acessórios</strong></a></li>
							<li><a href="#/monitores"> <strong>Monitores</strong> </li>
						 
							<li><a href="#/cabos"><strong>Cabos</strong> </a></li>
							<li><a href="#/store"><strong>Armazenagem</strong></a></li>
							<li><a href="#/alime"><strong>Alimentação</strong></a></li>
							<li><a href="#/audio"><strong>Microfones Audio</strong></a></li>

							<li><a href="#/ahdsolu"><strong>Soluções AHD</strong></a></li>
						</ul>
						<div class="article-img">
							<img src="assets/img/blanck.jpg" alt="">
						</div>
 
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				 
					<aside id="aside" class="col-md-3">
						<c-outracategoria></c-outracategoria> 
			</aside>
			<!-- /ASIDE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /SECTION -->
</div>