<div class="port_baixo">

 	<!-- Page Header -->
     <div id="page-header">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(assets/img/background-2e.jpg);"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                     
						<h1 class="ride_text_slide"> Produza a sua  <span style="color: #f1af01;">energia </span></h1>
							
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Energia Solar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->

    <!-- SECTION -->
    <div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
				
				
					<div class="row">
							 
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/solar/1.JPG" alt="">
								<div class="team-desc" v-on:click="jms1 = !jms1">
									<h4 class="mb-0">TRUNSUN</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms1" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Modulo Policristalino: TSP260-600: 260WP
								</p>
							</div>
						</div>
 

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/solar/5.png" alt="">
								<div class="team-desc" v-on:click="jms2 = !jms2">
									<h4 class="mb-0">aps yc1000-3</h4> 
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>
							
							<div v-if="jms2" class="descicao">
								<p>
									<strong>
										Descrição 
									</strong>
								</p>

								<p>
									Inversor trifásico com potência de saída: 500 w
								</p>
							</div>
						</div>

 

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/solar/6.jpg" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Regulador Automático de Tensão AVR4KVA</h4>
										<p class="mb-1">Click aqui para Ver Descrição</p>
								 
								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Estabilizador de tensão 4kva, Fase Monofásico, Tensão de entrada 100 280v, Tensão de saída 220V
								</p>
							</div>
						</div> 
					</div> 
					<div class="row">
 
					</div>
				</main>
				<!-- /MAIN -->
				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
<!-- /SECTION -->
</div>