<div class="port_baixo">

 	<!-- Page Header -->
     <div id="page-header">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(assets/img/background-2e.jpg);"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <h1>Produza a sua energia</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Energia Solar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->

    <!-- SECTION -->
    <div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/solar/1.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>TRUNSUN</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Modulo Policristalino: TSP260-600: 260WP</p>
								</div>
							</div>
						</div>
						<!-- /article -->

					

						<div class="clearfix visible-md visible-lg"></div>

					
						<div class="clearfix visible-md visible-lg"></div>

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/solar/5.PNG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>aps yc1000-3</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Inversor trifásico com potência de saída: 500 w</p>
								</div>
							</div>
						</div>
						<!-- /article -->

					
							<!-- article -->
					<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/solar/6.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>Regulador Automático de Tensão AVR4KVA</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Estabilizador de tensão 4kva, Fase Monofásico, Tensão de entrada 100 280v, Tensão de saída 220V</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- pagination 
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<!-- category widget -->
					<div class="widget">
						<h3 class="widget-title">Outras Categorias</h3>
						<div class="widget-category">
							<ul>
								<li><a href="acessorio.html">Acessórios<span>(3)</span></a></li>
								<li><a href="diversos.html">Diversos<span>(2)</span></a></li>
								<li><a href="internet.html">Internet<span>(1)</span></a></li>
								<li><a href="segurança.html">Segurança Patrimonial<span>(6)</span></a></li>
								<li><a href="solar.html">Energias<span>(6)</span></a></li>
								<li><a href="computador.html">Informática<span>(3)</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /category widget -->

					<!-- posts widget -->
					<div class="widget">
						<h3 class="widget-title">Produtos mais vistos</h3>
						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<div class="widget-img">
									<img src="assets/img/6M.jpg" alt="">
								</div>
								<div class="widget-content">
									Proteja seu computador com as melhores fontes de alimentação.
								</div>
							</a>
							
						</div>
						<!-- /single post -->

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<div class="widget-img">
									<img src="assets/img/4P.jpg" alt="">
								</div>
								<div class="widget-content">
									As melhores cercas eletricas.
								</div>
							</a>
							
						</div>
						<!-- /single post -->

						<!-- single post -->
						<div class="widget-post">
							<a href="#">
								<div class="widget-img">
									<img src="assets/img/4M.jpg" alt="">
								</div>
								<div class="widget-content">
									Vigie seu patrimônio.
								</div>
							</a>
							
						</div>
						<!-- /single post -->
					</div>
					<!-- /posts widget -->

					
					</div>
					<!-- causes widget -->
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
<!-- /SECTION -->
</div>