<div class="port_baixo">

 	<!-- Page Header -->
     <div id="page-header">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(assets/img/background-2e.jpg);"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <h1>Produza a sua energia</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Energia Solar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->

    <!-- SECTION -->
    <div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article jms_sombra">
								<div class="article-img">
									<a >
										<img src="assets/img/solar/1.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>TRUNSUN</a></h3>
									 
									<p>Modulo Policristalino: TSP260-600: 260WP</p>
								</div>
							</div>
						</div>
						<!-- /article -->
 
						<!-- article -->
						<div class="col-md-6">
							<div class="article jms_sombra">
								<div class="article-img">
									<a >
										<img src="assets/img/solar/5.PNG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>aps yc1000-3</a></h3>
									 
									<p>Inversor trifásico com potência de saída: 500 w</p>
								</div>
							</div>
						</div>
						<!-- /article -->

					
							<!-- article -->
					<div class="col-md-6">
							<div class="article jms_sombra">
								<div class="article-img">
									<a >
										<img src="assets/img/solar/6.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>Regulador Automático de Tensão AVR4KVA</a></h3>
									<ul class="article-meta">
										
										
									</ul>
									<p>Estabilizador de tensão 4kva, Fase Monofásico, Tensão de entrada 100 280v, Tensão de saída 220V</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- pagination 
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
<!-- /SECTION -->
</div>