<div class="port_baixo">
 

					<div class="row">

						<h1 class="ride_text2"> Soluções <span style="color: #f1af01;">AHD</span></h1>
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/10.jpg" alt="">
								<div class="team-desc" v-on:click="jms1 = !jms1">
									<h4 class="mb-0">Connector AHD, CIFSA1.0, BNC Mini Coaxial UPT</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms1" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>

								</p>
							</div>
						</div>


						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/11.jpg" alt="">
								<div class="team-desc" v-on:click="jms2 = !jms2">
									<h4 class="mb-0">Video Balun HD CCTV , CIFSA12.99, Audio, Energia, AHD, HD-TVI,
										HD-CVI</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms2" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>

								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/12.jpg" alt="">
								<div class="team-desc" v-on:click="jms3 = !jms3">
									<h4 class="mb-0">Video Balun, CCTV, CIFSA8.99, Distancia 300M</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>

								</div>
							</div>
							<div v-if="jms3" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>

								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/14.jpg" alt="">
								<div class="team-desc" v-on:click="jms4 = !jms4">
									<h4 class="mb-0">Adaptdor BNC 4CH CAT5-6 Conector RJ45</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>

								</div>
							</div>
							<div v-if="jms4" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>

								</p>
							</div>
						</div>
					</div>

					<div class="row espaco_cima">
						<h1 class="ride_text2 "> Armazenagem <span style="color: #f1af01;">HDD</span></h1>
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/9.jpg" alt="">
								<div class="team-desc" v-on:click="jms5 = !jms5">
									<h4 class="mb-0">Discos de Armazenamento (HDD)</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms5" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
									Venda de Discos de Armazenamento (HDD) de 1TB, 2TB, 4TB, 6TB, 8TB
								</p>
							</div>
						</div>


					</div>

					<div class="row espaco_cima">
						<h1 class="ride_text2 "> Cabos e <span style="color: #f1af01;"> Outros</span></h1>
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/6a.jpg" alt="">
								<div class="team-desc" v-on:click="jms6 = !jms6">
									<h4 class="mb-0">CIFSAL280, ROLO 305M</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms6" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
								 
								</p>
							</div>
						</div>
 
					 
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/6aa.jpg" alt="">
								<div class="team-desc" v-on:click="jms7 = !jms7">
									<h4 class="mb-0">Cabos CCTV, CIFSA15, de Vídeo AHD</h4> 
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>
							
							<div v-if="jms7" class="descicao">
								<p>
									<strong>
										Descrição 
									</strong>
								</p>

								<p>
								 
								</p>
							</div>
						</div>


					</div>

					<div class="row espaco_cima">
						<h1 class="ride_text2 "> Fonte De  <span style="color: #f1af01;"> Alimentacao</span></h1>
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/1.jpg" alt="">
								<div class="team-desc" v-on:click="jms8 = !jms8">
									<h4 class="mb-0">Fonte de  alimentacao (POE 4/24CH)</h4>
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>

							<div v-if="jms8" class="descicao">
								<p>
									<strong>
										Descrição
									</strong>
								</p>

								<p>
								 
								</p>
							</div>
						</div>
 
					 
						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/2.jpg" alt="">
								<div class="team-desc" v-on:click="jms9 = !jms9">
									<h4 class="mb-0">Fonte de Alimentacao 18/32Ah</h4> 
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>
							
							<div v-if="jms9" class="descicao">
								<p>
									<strong>
										Descrição 
									</strong>
								</p>

								<p>
								 
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="team-card mb-5">
								<img class="img-fluid" src="assets/img/acessorio/3.jpg" alt="">
								<div class="team-desc" v-on:click="jms10 = !jms10">
									<h4 class="mb-0">Rack Bloco de 8  tomadas</h4> 
									<p class="mb-1">Click aqui para Ver Descrição</p>
								</div>
							</div>
							
							<div v-if="jms10" class="descicao">
								<p>
									<strong>
										Descrição 
									</strong>
								</p>

								<p>
								 
								</p>
							</div>
						</div>


					</div>
				
	</div>