
		<div class="cabelario_glide_produto">
			<div class="glide__track" data-glide-el="track">
				<ul class="glide__slides">
					<li class="glide__slide">
						<div class="card">
							
							<div id="page-header"> 
								<div class="section-bg" style="background-image: url(assets/img/background-2gps.jpg);"></div> 
								<div class="container">
									<div class="row">
										<div class="col-md-12">
                                               <h1 class="ride_text_slide"> <span style="color: #f1af01;">Proteja </span>o seu Património</h1>
											 
                                         
											<div class="desc_slider">
												<p class="">
													<strong>Esteja de Olho em tudo. </strong>
													<br> com as melhores camera voce estara de olho em tudo o seu patrimonio</p>
										 
											</div>
										</div>
									</div>
								</div> 
							</div>

						</div>
					</li>
					<li class="glide__slide">
						<div class="card">
							<div id="page-header"> 
								<div class="section-bg slide_jms3"></div> 
								<div class="container">
									<div class="row">
										<div class="col-md-12">
                                              
                                                <h1 class="ride_text_slide"> <span style="color: #f1af01;">Proteja </span>o seu Património</h1>
											 
                                                <div class="desc_slider">
                                                    <p> 
														<strong> Saiba sempre onde o seu Património esta.</strong>
														<br>
														Com alarmes e GPS mas modernos, ideal para o seu carro</p>
											
											</div>
										</div>
									</div>
								</div> 
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="card">
							<div id="page-header"> 
								<div class="section-bg slide_jms4"></div> 
								<div class="container">
									<div class="row">
										<div class="col-md-12">
                                               <h1 class="ride_text_slide"> <span style="color: #f1af01;">Proteja </span>o seu Património</h1>
											 
                                         
											<div class="desc_slider">
												<p>
													<strong> Eu estou Protegido.</strong> 
													<br>
													A sua casa Deve ser o local mas seguro para si e a sua família, proteja</p>
											
											</div>
										</div>
									</div>
								</div> 
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="card">
							<div id="page-header"> 
								<div class="section-bg slide_jms5"></div> 
								<div class="container">
									<div class="row">
										<div class="col-md-12">
                                               <h1 class="ride_text_slide"> <span style="color: #f1af01;">Proteja </span>o seu Património</h1>
											 
                                         
											<div class="desc_slider">
												<p>
													<strong> Sistema De Estinsão De Incêndio.</strong> 
													
													<br>
													Preserva a sua casa de incêndio e danos causado por fogo; proteja-se</p>
											
											</div>
										</div>
									</div>
								</div> 
							</div>
						</div>
					</li>
					<li class="glide__slide">
						<div class="card">
							<div id="page-header"> 
								<div class="section-bg slide_jms6"></div> 
								<div class="container">
									<div class="row">
										<div class="col-md-12">
                                               <h1 class="ride_text_slide"> <span style="color: #f1af01;">Proteja </span>o seu Património</h1>
											 
                                         
											<div class="desc_slider">
												<p>
													<strong>Esteja alerta a qualquer Aquecimento e fumo.</strong> 
													
													<br>
													Preserva a sua casa de incêndio e danos causado por fogo; proteja-se</p>
											
											</div>
										</div>
									</div>
								</div> 
							</div>
						</div>
					</li>
 
				</ul>
			</div>

		</div>