<!-- About Start -->
<div class="">
       <!-- Page Header -->
       <div id="page-header">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(assets/img/background-2.jpg);"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <h1>Sobre Aditel</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->
</div>
<!-- About End -->
</div>