<div class="footer_bg">
   
    <a class="whatsapp_link" target="_blank" href="https://wa.me/244939909010"><i
        class="fa-brands fa-whatsapp"></i></a>

    <!-- section footer start -->
    <div class="section_footer ">
        <div class="container">
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="footer-logo">
                            <a class="logo" href="#"><img src="assets/img/logoa.png" alt=""></a>
                        </div>

                        <p class="ipsum_text"><i class="fa fa-map-marker"></i> Rua do Comité do MPLA nº31. </p>
                        <p class="ipsum_text"> Bº Gamek a Direita, Distrito Urbano da Samba, Luanda, Angola</p>
                        <p class="ipsum_text"><i class="fa fa-phone"></i> +244 939 909 010 | 993 909 010 </p>
                        <p class="ipsum_text"><i class="fa fa-envelope"></i> geral@aditel.net </p>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="account_text">Links</h2>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/">Inicio</span></a></div>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/sobre">Quem Somos</span></a></div>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/seguranca">Segurança Patrimonial</span></a></div>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/informatica&multimidia">Informática / Multimídia</span></a></div>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/solar">Energias</span></a></div>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/telecomunicacao">Telecomunicações</span></a></div>
                        <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                    href="#/acessorio">Acessórios</span></a></div> 
                                    <div class="image-icon"><img src="assets/img/bulit-icon.png"><span class="fb_text"><a
                                        href="#/contacto">Contactos</span></a></div> 
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="account_text">Redes Social</h2>
                        <div class="image-icon"><img src="assets/img/fb-icon.png"><span class="fb_text"><a
                            target="_blank" href="https://web.facebook.com/satfrotas">Facebook</a></span></div>
                        <div class="image-icon"><img src="assets/img/twitter-icon.png"><span class="fb_text"><a
                                    href="#">Twitter</a></span></div>
                        <div class="image-icon"><img src="assets/img/in-icon.png"><span class="fb_text"><a
                                    href="#">Linkedin</a></span></div>
                        <div class="image-icon"><img src="assets/img/youtube-icon.png"><span class="fb_text"><a
                                    href="#">Youtube</a></span></div>
                        <div class="image-icon"><img src="assets/img/instagram-icon.png"><span class="fb_text"><a
                            target="_blank" href="https://www.instagram.com/satfrotas/">Instagram</a></span></div>
            
                        </div>


                  

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="adderess_text">Produtos</h2>
                    
                        <ul class="footer-galery">
                            <li><a href="#"><img src="assets/img/galery-1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/galery-2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/galery-3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/galery-4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/galery-5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/galery-6.jpg" alt=""></a></li>
                        </ul>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section footer end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright">Copyright Todos &copy; os direitos reservados a <a href="https://html.design"> ADITEL
                    Tecnologia & Serviços Lda</a></p>
        </div>
    </div>

</div>
<!-- Footer End -->