.letra3d {
  color: #fff;

  text-shadow:
    1px -1px 0 #2f5d87,
    2px -2px 0 #2e5a83,
    3px -3px 0 #2d5880,
    4px -4px 0 #2b557c,
    5px -5px 0 #2a5378,
    6px -6px 0 #295074,
    7px -7px 0 #274d71,
    8px -8px 0 #264b6d,
    9px -9px 0 #254869,
    10px -10px 0 #234665,
    11px -11px 0 #224361,
    12px -12px 0 #21405e,
    13px -13px 12px rgba(0, 0, 0, 0.55),
    13px -13px 1px rgba(0, 0, 0, 0.5);
}


.bg-capa {
  background-image:
    url("/assets/img/jms1.jpg");
  background-size: 100%;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
}

.bg-letra {
  position: absolute;
  top: 30%;
  padding-left: 5%;
}

.letraTamanho {
  font-size: 20px !important;
}

.subTamanho {
  font-size: 20px !important;
}

.cor_padaro {
  color: #f1af01 !important;
}


.cor_padaro_fonte {
  color: #f1af01 !important;
  font-size: 25px !important;
}

.kim {   
  margin-top: -13%;
  margin-left: 10%;
   
}
  
.content-top {
  margin-top: 10%;
  width: 300px;
}

.descricao { 
  width: 80%;
}


.section_slider {
  position: relative;
  padding: 50px 0px;
}


.espaco-top {
  margin-top: 10%; 
}
 
.espaco-bottom {
  margin-bottom: 10%; 
}

/*===========GLIDE.JS=================**/

/*===========cabelario_glide =================**/

.cabelario_glide {
  margin-top: 25px;
}

.cabelario_glide .glide__slide {
  padding-top: 15px;
  padding-bottom: 15px;

}

.cabelario_glide .glide__slide .card {
  position: relative;
  overflow: hidden;

}

/*===========fim cabelario_glide=================**/



/*===========frases =================**/

.frase_glide {
  margin-top: 25px;
}

.frase_glide .glide__slide {
  padding-top: 15px;
  padding-bottom: 15px;

}

.frase_glide .glide__slide .card {
  position: relative;
  overflow: hidden;

}


/*===========fim frases=================**/
.glide {
  margin-top: 25px;

}

.glide .glide__slide {
  padding-top: 15px;
  padding-bottom: 15px;

}

.glide .glide__slide .card {
  height: 470px;
  background-color: #21405e;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 13px 1px rgb(11, 10, 10);

}


.glide .glide__slide .card img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.glide .glide__slide .card img .share {
  height: 40px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-boder-radius: 50%;
  -ms-boder-radius: 50%;
  -o-boder-radius: 50%;
  top: 15px;
  right: 15px;
  font-size: 22px;
}

.glide .glide__slide .card .content {
  background-color: #fff;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  color: #000;
  z-index: 99;
  padding: 20px 15px;
  text-align: center;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}



.glide .glide__slide .card .content span {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -20%;

}

.glide .glide__slide .card .content h6 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
}

.glide .glide__slide .card .content h6::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #000;
  bottom: -8px;
  left: 30%;

}

.glide .glide__slide .card .content p {

  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.glide .glide__slide .card:hover .content {
  bottom: 0;
}

.glide__arrows .glide__arrows--rignt {
  right: .5em;
}

.glide__arrows .glide__arrows--left {
  right: .5em;
}

.glide__arrows .glide__arrow {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  font-size: 26px;
  padding: 0;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-boder-radius: 50%;
  -ms-boder-radius: 50%;
  -o-boder-radius: 50%;

}



/*===========FIM GLIDE.JS=================**/


























 

.number-slide {
  width: 100%;
}

@media only screen and (max-width: 880px) {
  .number-slide {
    width: 100%;
    height: 800px;
  }

  .kim {   
    margin-top: -24%;
    margin-left: 10%;
     
  }
  .descricao { 
    width: 100%;
  }
  
}

.slider_imagem { 
  background-color: tomato;
}


[class^="number-slide"],
[class*=" number-slide"] {

  max-height: 110vh;

}