<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div>
			<c-slideprodutos></c-slideprodutos>
		</div>

		<div class="submenupro header-content">
			<ul class="breadcrumb container"> 
				<li><a href="#/cctv"><strong>CCTV</strong></a></li>
				<li class="active"><strong>Seus Acessorios</strong> </a></li>
			 
			</ul>
		</div>
	 
	 
		<!-- /Page Header -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
			<main id="main" class="col-md-9">
				<c-acessorios></c-acessorios>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
 
 