<div class="port_baixo"> 
    
    	<!-- Page Header -->
		<div id="page-header">
			<!-- section background -->
			<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
			<!-- /section background -->

			<!-- page header content -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-content">
							<h1>Os melhores computadores</h1>
							<ul class="breadcrumb">
								<li><a href="#/acessorio">Acessórios</a></li>
								<li class="active">Alimentação</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header content -->
		</div>
		<!-- /Page Header -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
			<main id="main" class="col-md-9">
					<div class="row">



						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/1.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Fonte de  alimentacao (POE 24CH)</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->

						

						<div class="clearfix visible-md visible-lg"></div>

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/3.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Rack Bloco de 8  tomadas</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->
						
						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/13.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Conector RJ45, PARA CAMERA IP SEM POE.</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->
						
						<!-- article -->
						
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/4.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Rack 1.5U, Fonte de Alimentação 32AH, 90-240VA-12VDC</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/5.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Tomada PDU, Formato rack, 6 saídas até 250VAC  16A</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->
<!-- /article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/6.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">POE Switch 5 Portas 4CH</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->
				
						
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/7.JPG" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">POE RJ45, para câmaras IP sem PoE</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->
						
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/acessorio/8.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a class="cor_padaro_fonte">Fonte de Alimentação 18 CH</a></h3>
									
								</div>
							</div>
						</div>
						<!-- /article -->

						

						<!-- pagination 
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
 
 