<div>

    <!-- Page Header -->
    <div id="page-header">
        <!-- section background -->
        <div class="section-bg" style="background-image: url(assets/img/background-2c.jpg);"></div>
        <!-- /section background -->

        <!-- page header content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <h1>Os melhores computadores</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Computadores</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header content -->
    </div>
    <!-- /Page Header -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- MAIN -->
                <main id="main" class="col-md-9">
                    <div class="row">

                        <!-- article -->
                        <div class="col-md-6">
                            <div class="article">
                                <div class="article-img">
                                    <a>
                                        <img src="assets/img/computador/1.JPG" alt="">
                                    </a>
                                </div>
                                <div class="article-content">
                                    <h3 class="article-title"><a>PC Portátil DELL</a></h3>
                                    <ul class="article-meta">


                                    </ul>
                                    <p>Caracteristicas Principais:
                                        Processador 1.6 GHz Intel Quad-Core, i5
                                        Memória RAM 8GB
                                        Disco Rigido: 1 TB
                                        Monitor 13.3"  FULL HD
                                        Sistema Operativo: Windows 10
                                        Portas WLAN, Bluetooth, USB. HDMI
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /article -->

                        <!-- article -->
                        <div class="col-md-6">
                            <div class="article">
                                <div class="article-img">
                                    <a>
                                        <img src="assets/img/computador/2.JPG" alt="">
                                    </a>
                                </div>
                                <div class="article-content">
                                    <h3 class="article-title"><a>PC POS</a></h3>
                                    <ul class="article-meta">


                                    </ul>
                                    <p>Caracteristicas Principais:
                                        Memória: 2GB
                                        Disco Rigido: 32GB
                                        Monitor: 15" 
                                        Portas : LAN, HDMI, USB
                                        CPU: Intel Celeron
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /article -->

                        <div class="clearfix visible-md visible-lg"></div>

                        <!-- article -->
                        <div class="col-md-6">
                            <div class="article">
                                <div class="article-img">
                                    <a>
                                        <img src="assets/img/computador/3.JPG" alt="">
                                    </a>
                                </div>
                                <div class="article-content">
                                    <h3 class="article-title"><a>PC SERVIDOR</a></h3>
                                    <ul class="article-meta">


                                    </ul>
                                    <p>Processador: 2 x 2.93Ghz X5670 Xeon Six Core
                                        Memória 2GB ( 48GB Total )
                                        Discos Rigidos: 6 x 2TB 7.2K SATA 3.5" 3GB/s
                                        Energia 2 x 870W
                                        Portas LAN 4 x Gigabit Ethernet
                                        Leitor Discos DVD-ROM
                                        Software Nao Incluido
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /article -->




                    </div>
                </main>
                <!-- /MAIN -->

                <!-- ASIDE -->
             
					<aside id="aside" class="col-md-3">
						<c-outracategoria></c-outracategoria> 
			</aside>
            <!-- /ASIDE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>