<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Os melhores para si e sua empresa</h1>
						<ul class="breadcrumb">

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->

	<!-- SECTION -->
	<div class="section container">
		<!-- container -->
	 
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">

					<!-- products -->
					<h2 class="cor_padaro_fonte">Escolha um das Categoria ...</h2>
							<div class="row">
								<div class="col-md-12">
									<div class="our_products">
									
										<div class="row">
											<div class="col-md-4 margin_bottom1">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product1.png" alt="#" />
													</figure>
													<a class="cor_mult" href="#/computador"><h3> Computadores </h3></a>
												</div>
											</div>
											<div class="col-md-4 margin_bottom1">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product2.png" alt="#" />
													</figure>
												<a class="cor_mult" href="#/tv"><h3> TV </h3></a>
												</div>
											</div>
											<div class="col-md-4 margin_bottom1">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product3.png" alt="#" />
													</figure>
													<a class="cor_mult" href="#/telefone"><h3> Telefone </h3></a>
												</div>
											</div>
											<div class="col-md-4 margin_bottom1">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product4.png" alt="#" />
													</figure>
												<a class="cor_mult" href="#/monitores"><h3> Monitores </h3></a>
												</div>
											</div>
											<div class="col-md-4 margin_bottom1">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product5.png" alt="#" />
													</figure>
													<a class="cor_mult" href="#/cabos"><h3> Cabos </h3></a>
												</div>
												        

											</div>
											<div class="col-md-4 margin_bottom1">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product6.png" alt="#" />
													</figure>
													<a class="cor_mult" href="#/store"><h3> Armazenagem </h3></a>
												</div>
											</div>
											<div class="col-md-4">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product7.png" alt="#" />
													</figure>
													<a class="cor_mult" href="#/audio"><h3> Microfones Audio </h3></a>
												</div>
											</div>
											<div class="col-md-4">
												<div class="product_box">
													<figure><img src="assets/img/pc_mult/product8.png" alt="#" />
													</figure>
													<a class="cor_mult" href="#/ahdsolu"><h3> Soluções AHD </h3></a>
												</div>
											</div>
										 
										</div>
									</div>
								</div>
							</div>
				 
				 
					<!-- end products -->
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->

				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
	 
		<!-- /SECTION -->
	</div>








</div>