<div class="port_baixo">

	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2sat.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Os melhores Acessórios para si</h1>
						<ul class="breadcrumb">

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
	<!-- /Page Header -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<h2 class="cor_padaro_fonte">Escolha um dos menus que queiras aceder...</h2>
						<h2 class="cor_padaro_fonte">Computador / Multimídia</h2>
						<ul class="breadcrumb">
							<li class="active"><strong>Home </strong></a></li> 
							<li><a href="#/cabos"><strong>Computadores</strong> </a></li>
							<li><a href="#/store"><strong>Telefone</strong></a></li> 
							<li class="active"><strong>TV</strong></a></li> 
							<li><a href="#/monitores"> <strong>Monitores</strong> </li>
						</ul>
					 
						<h2 class="cor_padaro_fonte">Acessorios</h2>
						<ul class="breadcrumb">
							<li class="active"><strong>Acessórios</strong></a></li> 
							<li><a href="#/cabos"><strong>Cabos</strong> </a></li>
							<li><a href="#/store"><strong>Armazenagem</strong></a></li>
							<li><a href="#/alime"><strong>Alimentação</strong></a></li>
							<li><a href="#/audio"><strong>Microfones Audio</strong></a></li>
							<li><a href="#/ahdsolu"><strong>Soluções AHD</strong></a></li>
						</ul>
						<div class="article-img">
							<img src="assets/img/blanck.jpg" alt="">
						</div>
 
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				 
					<aside id="aside" class="col-md-3">
						<c-outracategoria></c-outracategoria> 
			</aside>
			<!-- /ASIDE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /SECTION -->
</div>




   <!-- products -->
   <div  class="products">
	<div class="container">
	   <div class="row">
		  <div class="col-md-12">
			 <div class="titlepage">
				<h2>Our Products</h2>
			 </div>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-md-12">
			 <div class="our_products">
				<div class="row">
				   <div class="col-md-4 margin_bottom1">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product1.png" alt="#"/></figure>
						 <h3>Computer</h3>
					  </div>
				   </div>
				   <div class="col-md-4 margin_bottom1">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product2.png" alt="#"/></figure>
						 <h3>Laptop</h3>
					  </div>
				   </div>
				   <div class="col-md-4 margin_bottom1">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product3.png" alt="#"/></figure>
						 <h3>Tablet</h3>
					  </div>
				   </div>
				   <div class="col-md-4 margin_bottom1">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product4.png" alt="#"/></figure>
						 <h3>Speakers</h3>
					  </div>
				   </div>
				   <div class="col-md-4 margin_bottom1">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product5.png" alt="#"/></figure>
						 <h3>internet</h3>
					  </div>
				   </div>
				   <div class="col-md-4 margin_bottom1">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product6.png" alt="#"/></figure>
						 <h3>Hardisk</h3>
					  </div>
				   </div>
				   <div class="col-md-4">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product7.png" alt="#"/></figure>
						 <h3>Rams</h3>
					  </div>
				   </div>
				   <div class="col-md-4">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product8.png" alt="#"/></figure>
						 <h3>Bettery</h3>
					  </div>
				   </div>
				   <div class="col-md-4">
					  <div class="product_box">
						 <figure><img src="assets/img/pc_mult/product9.png" alt="#"/></figure>
						 <h3>Drive</h3>
					  </div>
				   </div>
				   <div class="col-md-12">
					  <a class="read_more" href="#">See More</a>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
 <!-- end products -->





</div>