<div class="port_baixo">

 	<!-- Page Header -->
	 <div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-2c.jpg);"></div>
		<!-- /section background -->

		<!-- page header content -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Os melhores smart devices para você</h1>
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">Diversos</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /page header content -->
	</div>
    <!-- /Page Header -->

    <!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- MAIN -->
				<main id="main" class="col-md-9">
					<div class="row">

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/diversos/1.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>SMART TV SAMSUNG</a></h3>
									<ul class="article-meta">
								
										
									</ul>
									<p>75" Smart 4K Ultra HD QLED TV</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/diversos/2.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>Samsung Galaxy S9+ </a></h3>
									<ul class="article-meta">
							
										
									</ul>
									<p>Pontência levada a sério o <strong>Samsung Galaxy S9+</strong> tem a tela de 6.2'', Dual-Sim e 256 GB de espaço de armazenamento</p>
								</div>
							</div>
						</div>
						<!-- /article -->
						
						<!-- article -->
						<div class="col-md-6">
							<div class="article">
								<div class="article-img">
									<a >
										<img src="assets/img/diversos/4.jpg" alt="">
									</a>
								</div>
								<div class="article-content">
									<h3 class="article-title"><a>HP LaserJet 5525n Enterprise </a></h3>
									<ul class="article-meta">
							
										
									</ul>
									<p>Imprima com a melhor qualidade a Laser até tamanho A3, Rápidez e precisão na Impressão. OBS: Bom estadp de conservação.</p>
								</div>
							</div>
						</div>
						<!-- /article -->

						
						<!-- pagination 
						<div class="col-md-12">
							<ul class="article-pagination">
								<li class="active"><<</li>
								
								<li>|</li>
								<li><a href="#">>></a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
				</main>
				<!-- /MAIN -->

				<!-- ASIDE -->
				<aside id="aside" class="col-md-3">
					<c-outracategoria></c-outracategoria>
  
				</aside>
				<!-- /ASIDE -->
			</div>
			<!-- /row -->
		</div>
<!-- /SECTION -->
</div>