<div>
	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/background-1.jpg);"></div>
		<!-- /section background -->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Contacta-nos</h1>
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				</div>

				<div class="col-md-8">

					<div class="article causes-details">

						<div class="article-img"> <img src="assets/img/map2.png">
							<a href="http://maps.google.com/maps?&hl=en&q=08.887065S,013.197153E">Clica aqui se quer
								seguir a rota.</a>
							<div></div>

							<div class="article-reply">
								<h3 class="cor_padaro">Diz-nos o que precisas</h3>
								<p>Sinta-se livre de entrar em contacto connosco, em qualquer momento, teremos imenso
									gosto em atende-lo.</p>
								<form>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<input class="input" placeholder="Nome" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input" placeholder="Email" type="email">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input" placeholder="Telefone" type="number">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input" placeholder="Assunto" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input" placeholder="Nome do Produto" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input" placeholder="Endereço" type="text">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea class="input" placeholder="Menssagem"></textarea>
											</div>
											<button class="primary-button">Enviar</button>
										</div>
									</div>
								</form>
							</div>
							<!-- /article reply form -->
						</div>

					</div>
				</div>
 
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>