<div>
	<!-- Page Header -->
	<div id="page-header">
		<!-- section background -->
		<div class="section-bg" style="background-image: url(assets/img/aditel.jpg);"></div>
		<!-- /section background -->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-content">
						<h1>Contacte-nos</h1>
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<!-- /Page Header -->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				</div>

				<div class="col-md-8">

					<div class="article causes-details">

						<div class="article-img">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3218.212361533147!2d13.19528243000196!3d-8.886547735627685!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f4eaa84278ed%3A0x11263f0e0a3dfe78!2sADITEL%20Tecnologias%2C%20Lda!5e1!3m2!1spt-BR!2sao!4v1675804955030!5m2!1spt-BR!2sao" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>

							<div class="article-reply">
								<h3 class="cor_padaro"> </h3>
								<div class="ride_main"> <h3> 
									<h1 class="ride_text">Diz-nos o que <span style="color: #f1af01;"> precisas</span></h1>
								</div>
								<p>Sinta-se livre de entrar em contacto connosco, em qualquer momento, teremos imenso
									gosto em atende-lo.</p>
								<form  @submit="enviar" method="post" >
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<input class="input"  v-model="nome" required placeholder="Nome" type="text">
												 
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input"  v-model="email" required placeholder="Email" type="email">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input"  v-model="telef" required placeholder="Telefone" type="number">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input"  v-model="assunto" required placeholder="Assunto" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input"  v-model="produto" required placeholder="Nome do Produto" type="text">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="input"  v-model="endereco" required placeholder="Endereço" type="text">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea class="input"  v-model="mensagem" required placeholder="Menssagem"></textarea>
											</div>
											<button class="primary-button">Enviar</button>
										</div>
									</div>
								</form>
							</div>
							<!-- /article reply form -->
						</div>

					</div>
				</div>
 
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>