<div> 
 
    <c-sobre> </c-sobre>

    <div class="section">
      <!-- container -->
      <div class="container">
          <!-- row -->
          
          <div class="row">
              <!-- MAIN -->
              <main id="main" class="col-md-9">
                  <!-- article -->
                  <div class="article causes-details">
                      <!-- article img -->
                      <div class="article-img">
                          <img src="assets/img/post-img.jpg" alt="">
                      </div>
                      <!-- article img -->
 
                      <!-- article content -->
                      <div class="article-content">
                          <!-- article title -->
                          <h3>Somos a solução que procuras</h3>
                          <h2>ADITEL - TECNOLOGIAS & SERVIÇOS Lda</h2>
                          <!-- /article title -->
 
                          <p>Somos uma empresa no mercado Angolano desde o ano 2008, tendo como objectivo buscar
                              produtos e fornecer Serviços Tecnológicos, com alta qualidade e máxima eficiência.
                          </p>
                          <p>A nossa maior meta é melhor suprir as constantes necessidades de nossos clientes no
                              mercado de trabalho, usamos de conceitos de qualidade, competência, capacidade e
                              devida eficiência para melhor servir a demanda. A nossa actividade comercial,
                              foca-se em proporcionar o fornecimento de produtos e soluções criteriosamente
                              seleccionados provenientes de fornecedores Internacionalmente certificados.


                          </p>
                          <p>Os nossos produtos e Serviços, têm como prioridade e a título de teste final,
                              consumidos localmente pelos nossos especialistas para se aferir a qualidade antes de
                              serem comercializados, potencializando assim a qualidade no cômputo geral, pois
                              torna-se gratificante estarmos a trabalhar e ver nossos clientes satisfeitos com
                              custos e benefícios bem planeados, Eficácia é a particularidade que buscamos.
                      </div>
                      <!-- /article content -->




                  </div>
                  <!-- /article -->
              </main> 
      </div>
      <!-- /row -->
  </div>
  <!-- /container -->
</div>

</div>