<div> 
 
    <c-sobre> </c-sobre>

    <div class="section">
      <!-- container -->
      <div class="cont ainer">
          <!-- row -->
          
          <div class="row">
              <!-- MAIN -->
              <div class="col-md-2">
            </div>
              <main id="main" class="col-md-8">
                  <!-- article -->
                  <div class="article causes-details">
                      <!-- article img -->
                      <div class="article-img">
                          <img src="assets/img/post-img.jpg" alt="">
                      </div>
                      <!-- article img -->
 
                      <!-- article content -->
                      <div class="article-content">
                          <!-- article title -->
                         
                          
                            <div class="ride_main"> <h3>
                                Somos a solução que procuras</h3>
                                <h1 class="ride_text">ADITEL <span style="color: #f1af01;"> Tecnológias & Serviços Lda</span></h1>
                            </div>
                    
                          <!-- /article title -->
 
                          <p>
                            Somos uma empresa no mercado Angolano desde o ano 2008, tendo como objetivo buscar produtos e fornecer Serviços Tecnológicos, com alta qualidade e máxima eficiência.
                          </p>
                          <p>
                            A nossa maior meta é  suprir as constantes necessidades de nossos clientes no mercado de trabalho, usamos de conceitos de qualidade, competência, capacidade e a devida eficiência para melhor servir a demanda. A nossa atividade comercial foca-se em proporcionar o fornecimento de produtos e soluções criteriosamente seleccionados provenientes de fornecedores internacionalmente certificados
                          </p>
                          <p>
                            Os nossos produtos e Serviços, têm como prioridade e a título de teste final, consumidos localmente pelos nossos especialistas para se aferir a qualidade antes de serem comercializados, potencializando assim a qualidade no cômputo geral, pois torna-se gratificante estarmos a trabalhar e ver nossos clientes satisfeitos com custos e benefícios bem planeados, eficácia é a particularidade que buscamos.
                        </p>
                        </div>
                      <!-- /article content -->




                  </div>
                  <!-- /article -->
              </main> 
              <div class="col-md-2">
            </div>
      </div>
      <!-- /row -->
  </div>
  <!-- /container -->
</div>

</div>