<div>

  <!-- Page Header -->
  <div id="page-header">
    <!-- section background -->
    <div class="section-bg" style="background-image: url(assets/img/aditel.jpg); height: 300px;"></div>
    <!-- /section background -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">

            <h1 class="ride_text_slide"> Saiba mais  <span style="color: #f1af01;">sobre nos</span> </h1>
            <ul class="breadcrumb">
              <li><a href="#/">Home</a></li>
              <li class="active">Sobre nos</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- /Page Header -->

  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->

      <div class="row">
        <!-- MAIN -->
        <div class="col-md-7" style="margin-top: 10%;">
          <!-- article img -->
          <div class="article-img">
            <img style="width: 100%;" src="assets/img/post-img.jpg" alt="">
          </div>
          <!-- article img -->

        </div>

        <main id="main" class="col-md-5">
          <!-- article -->
          <div class="article causes-details">


            <!-- article content -->
            <div class="article-content">
              <!-- article title -->

              <p> <span class=""> <span style="color: #f1af01;">ADITEL </span> Tecnológias & Serviços Lda</span> </p>

              <p>
                Empresa no mercado Angolano desde o ano 2008,  com objetivo buscar produtos e fornecer Serviços Tecnológicos, com alta qualidade e máxima eficiência, para que você tenha menos esforço.
              </p>
              <p>
                A nossa maior meta é suprir as constantes necessidades de nossos clientes no mercado de trabalho, usamos de conceitos de qualidade, competência, capacidade e a devida eficiência para melhor servir a demanda. A nossa atividade comercial foca-se em proporcionar  fornecimento de produtos e soluções criteriosamente seleccionados provenientes de fornecedores internacionalmente certificados.
              </p>
              <p>
                Os nossos produtos e Serviços, têm sido condicionados a título de teste final, consumidos localmente por nossos especialistas para se aferir a qualidade antes de serem dispostos a comércio, potencializando assim a qualidade no cômputo geral, pois torna-se gratificante estarmos a trabalhar e ver nossos clientes satisfeitos com custos e benefícios bem planeados, eficácia é a particularidade que buscamos.
              </p>
            </div>
            <!-- /article content -->




          </div>
          <!-- /article -->
        </main>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>

</div>